@page
@model ResetPassword

<div class="bg-white flex flex-col gap-4 items-center justify-between m-auto p-8 shadow-md">

    <h1 class="font-bold text-4xl text-primary">
        @if (Model.UiResponse.Succeeded)
        {
            <text>Password Reset 🎉</text>
        }
        else
        {
            <text>New Password 🔒</text>
        }
    </h1>

    <hr class="border-primary w-full" />

    @if (Model.UiResponse.Failed)
    {
        <form class="flex flex-col gap-2 items-center justify-between"
              method="post">
            <div asp-validation-summary="ModelOnly"
                 class="text-red-300">
            </div>

            <input asp-for="Input.Token"
                   type="hidden"
                   value="@Model.InitialTokenValue" />

            <div class="flex flex-col gap-2 items-start w-full">
                <p class="font-bold text-primary text-xl">
                    EMAIL
                </p>
                <input aria-required="true"
                       asp-for="Input.Email"
                       autocomplete="email"
                       class="input-field w-full" />
            </div>

            <div class="flex flex-col gap-2 items-start w-full">
                <p class="font-bold text-primary text-xl">
                    PASSWORD
                </p>
                <input aria-required="true"
                       asp-for="Input.Password"
                       autocomplete="new-password"
                       class="input-field w-full" />
            </div>

            <div class="flex flex-col gap-2 items-start w-full">
                <p class="font-bold text-primary text-xl">
                    CONFIRM PASSWORD
                </p>
                <input aria-required="true"
                       asp-for="Input.ConfirmPassword"
                       autocomplete="new-password"
                       class="input-field w-full" />
            </div>

            <button class="btn text-xl w-full"
                    type="submit">
                Reset
            </button>
        </form>
    }

</div>

@if (Model.UiResponse.HasMessage)
{
    <partial for="UiResponse"
             name="_UiResponsePartial" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
