<nav class="bg-secondary em4K:sp-ten emDesktop:sp-nine emLaptopLg:sp-eight emLaptopMd:sp-seven emLaptopSm:sp-six emMobileLg:sp-three emMobileMd:sp-two emTabletLg:sp-five emTabletSm:flex-row emTabletSm:sp-four flex flex-col items-center justify-between mb-20 py-6 sp-one text-white w-full">

</nav>
