@page "/AccessDenied"
@attribute [ AllowAnonymous ]

<PageTitle>Access Denied</PageTitle>

<h3 class="text-center">
    <strong>You do not have access to these resources.</strong>
</h3>
<br />
<h3 class="text-center">Your request requires permissions you do not have. If you believe this is a mistake, please try logging out and logging back in or contact support.</h3>
