@page "/NotFound"
@attribute [ AllowAnonymous ]

<PageTitle> 404 Not Found</PageTitle>

<h3 class="text-3xl">
    🤔
    <span class="italic">Sorry, there doesn't seem to be anything here!</span>
</h3>
