@namespace Erdmier.ProjectTemplate.WebUI.Pages.Shared

<!DOCTYPE html>
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0"
          name="viewport" />
    <base href="~/" />
    <link href="css/app.css"
          rel="stylesheet" />
    @* ReSharper disable once Html.PathError *@
    <link href="Erdmier.ProjectTemplate.WebUI.styles.css"
          rel="stylesheet" />
    <component render-mode="ServerPrerendered"
               type="typeof(HeadOutlet)" />
</head>
<body class="bg-background">
@RenderBody()

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a class="reload"
       href="">
        Reload
    </a>
    <a class="dismiss">🗙</a>
</div>

@* ReSharper disable Html.PathError *@
<script src="_framework/blazor.server.js"></script>
@* ReSharper restore Html.PathError *@
</body>
</html>
