@inherits LayoutComponentBase

<PageTitle>Erdmier.ProjectTemplate</PageTitle>

<div class="flex flex-col items-center justify-between min-h-screen overflow-hidden w-screen">
    <NavMenu />

    <main class="grow w-full">
        <article class="em4K:sp-ten emDesktop:sp-nine emLaptopLg:sp-eight emLaptopMd:sp-seven emLaptopSm:sp-six emMobileLg:sp-three emMobileMd:sp-two emTabletLg:sp-five emTabletSm:sp-four flex flex-col items-center justify-start sp-one">
            @Body
        </article>
    </main>

    <AppFooter />
</div>
